{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">

    <strong>Olá, {{ user.name }}</strong>


          <p>Agendamentos marcados</p>


          <ul class="providers">

              <table classs="provider">
              <thead>
                <tr>
                  <th>Cliente</th>
                  <th>Data</th>
                  <th>Hora</th>
                </tr>
              </thead>
              {% for appointment in appointments %}
              <tbody>
                <tr>
                <td>{{appointment.User.name}}</td>
                <td>{{appointment.date | date("DD/MM/YYYY") }} </td>
                <td>{{appointment.date | date("HH:mm") }} </td>
                </tr>

              </tbody>
              {% endfor %}
              </table>

            </ul>

    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
